node_modules
.vscode-test/
*.vsix
.yarnrc
.yarn/*
.yarn-integrity
.yarn-metadata.json
.yarn-tarball.tgz
yarn.lock
test/
vsc-extension-quickstart.md
tsconfig.json


.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
